<div class="list-detail">
  <div class="anime">
    <div class="cover">
      <img src="" alt="">
    </div>
    <div class="info">
      <h4>{{anime.title}}</h4>
      <div class="desc">
        <p>{{animeDetail.desc}}</p>
      </div>
      <div class="episode-title">
        剧集：
      </div>
      <div class="episode">
        <a class="item" *ngFor="let source of animeDetail.animes">{{source.name}}</a>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="title">标签</div>
    <div class="tag">
      <a *ngFor="let type of types" (click)="animeDetail.type = type" [ngClass]="{'selected': type==animeDetail.type}">{{type}}</a>
    </div>
    <div class="tag">
      <a *ngFor="let tag of tags" (click)="selectTag(tag)" [ngClass]="{'selected': animeDetail.tags.indexOf(tag)>-1}">{{tag}}</a>
    </div>
    <div class="tag">
      <a *ngFor="let state of states" (click)="animeDetail.state = state" [ngClass]="{'selected': state==animeDetail.state}">{{state}}</a>
    </div>
  </div>

  <div class="section">
    <div class="title">标题</div>
    <div>
      <input class="ani-title" type="text" placeholder="请输入标题" [(ngModel)]="anime.title">
    </div>
  </div>

  <div class="section">
    <div class="title">作者</div>
    <div>
      <input class="ani-title" type="text" placeholder="请输入作者" [(ngModel)]="animeDetail.auth">
    </div>
  </div>

  <div class="section">
    <div class="title">监督</div>
    <div>
      <input class="ani-title" type="text" placeholder="请输入监督" [(ngModel)]="animeDetail.director">
    </div>
  </div>

  <div class="section">
    <div class="title">出版商</div>
    <div>
      <input class="ani-title" type="text" placeholder="请输入出版商" [(ngModel)]="animeDetail.publisher">
    </div>
  </div>

  <div class="section">
    <div class="title">简介</div>
    <div>
      <textarea class="ani-desc" rows="5" placeholder="请输入简介" [(ngModel)]="animeDetail.desc"></textarea>
    </div>
  </div>

  <div class="section resource">
    <div class="title">资源</div>
    <div class="resource-loader">
      <select class="drive" [(ngModel)]="drive">
        <option value="/mnt/anime1/">/mnt/anime1/</option>
        <option value="/mnt/anime2/">/mnt/anime2/</option>
        <option value="/mnt/anime3/">/mnt/anime3/</option>
        <option value="/mnt/anime4/">/mnt/anime4/</option>
      </select>
      <input type="text" class="path" [(ngModel)]="path">
      <button (click)="load()">加载</button>
      <button (click)="renameDir()" [disabled]="!getFilesDto">重命名</button>
    </div>
    <div class="resource-list" *ngIf="files && files.length > 0">
      <div class="resource-opt">
        <div class="rename">
          <input type="text" [(ngModel)]="nameFormat">
          <button (click)="rename()">重命名</button>
        </div>
        <div class="order">
          <a (click)="up()">
            <i class="fa fa-arrow-up"></i>
          </a>
          <a (click)="down()">
            <i class="fa fa-arrow-down"></i>
          </a>
        </div>
      </div>

      <table>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>地址</th>
          <th>大小</th>
          <th>分辨率</th>
          <th>操作</th>
        </tr>
        <tr *ngFor="let file of files; let i = index;" (click)="highlight(i,file)" [ngClass]="{'highlight': file===selectedFile}">
          <td>{{i+1}}</td>
          <td>{{file.name}}</td>
          <td>{{getUrl(file.name)}}</td>
          <td>{{file.size}}</td>
          <td>{{file.media.frameWidth}}×{{file.media.frameHeight}}</td>
          <td>
            <a (click)="remove(file)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="section footer">
    <button (click)="save()">保存</button>
  </div>
</div>
