<div class="page">
  <div class="header">
    <div class="logo">迦勒底</div>
    <div class="nav">
      <a href="">内容</a>
      <a href="">分享</a>
      <a href="">更多</a>
    </div>
  </div>
  <div class="content">
    <div class="menu">
      <ul>
        <li class="item">
          <a href="javascript:void(0);">全部内容</a>
          <ul>
            <li class="item">
              <a href="javascript:void(0);">番组</a>
            </li>
            <li class="item">
              <a href="javascript:void(0);">图片</a>
            </li>
            <li class="item">
              <a href="javascript:void(0);">角色</a>
            </li>
            <li class="item">
              <a href="javascript:void(0);">用户</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="template">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
