.list-grid {
    margin: 20px 0px;
    display: flex;
    .box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .box-item {
            min-height: 180px;
            max-width: 120px;
            flex: 1 1 100%;
            margin-left: 20px;
            .cover {
                width: 100%;
                max-height: 180px;
                img {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
            .subtitle {
                line-height: 20px;
            }
        }
    }
}
