<div class="modal-header">
    <h4 class="modal-title pull-left">解压文件</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body folder-tree">
    <div class="form-group">
        <label>解压密码(可为空):</label>
        <input type="text" class="form-control" placeholder="解压密码(可为空)" [(ngModel)]="extractFileDto.password">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info btn-fill" (click)="extract()">
        <i class="fa fa-file-archive-o"></i>
        解压
    </button>
</div>