<div class="modal-header">
  <h4 class="modal-title pull-left">设置时间表</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body publish">
  <div class="form-group">
    <label>请选择番剧:</label>
    <ngx-select-dropdown [config]="config" [options]="animes" [(value)]="selectAnimes" [multiple]="false">
    </ngx-select-dropdown>
  </div>

  <div class="form-group">
    <label>起始时间:</label>
    <input bsDaterangepicker type="text" class="form-control" placeholder="起始时间" [(ngModel)]='selectDate' [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <label>更新日期:</label>
    <select class="form-control" [(ngModel)]="selectWeek">
      <option *ngFor="let week of weeks" [ngValue]="week">{{week.text}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>更新时间:</label>
    <input type="text" class="form-control" placeholder="更新时间" [(ngModel)]="input.updateTime">
  </div>

  <div class="form-group">
    <label>资源地址:</label>
    <input type="text" class="form-control" placeholder="资源地址" [(ngModel)]="input.sourceUrl">
  </div>

  <div class="form-group">
    <label>资源密码:</label>
    <input type="text" class="form-control" placeholder="资源密码" [(ngModel)]="input.sourcePwd">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info btn-fill" (click)="save()">
    <i class="fa fa-share"></i>
    保存
  </button>
</div>