.list-detail {
    margin: 20px;
    display: flex;
    flex-direction: column;
    .anime {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #DDD;
        padding-bottom: 20px;
        .cover {
            width: 200px;
            height: 240px;
            text-align: center;
            img {
                width: 180px;
                height: 240px;
            }
        }
        .info {
            flex: 1;
            margin-left: 20px;
            .desc {
                margin-top: 10px;
                p {
                    line-height: 25px;
                    font-size: 13px;
                }
            }
            .episode-title {
                height: 25px;
                line-height: 25px;
                font-size: 12px;
                font-weight: 400;
            }
            .episode {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                a.item {
                    width: 80px;
                    height: 25px;
                    line-height: 23px;
                    border: 1px solid #e4e4e4;
                    border-radius: 5px;
                    margin-right: 10px;
                    text-align: center;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
                a.item:hover {
                    border: 1px solid #ff709e;
                    color: #ff709e;
                }
            }
        }
    }
    .section {
        margin-top: 20px;
        .title {
            font-size: 15px;
            font-weight: bold;
            height: 40px;
        }
        input.ani-title {
            width: 100%;
            height: 30px;
            outline: none;
            resize: none;
            padding-left: 10px;
            border-radius: 5px;
            border: 1px solid #DDD;
        }
        textarea.ani-desc {
            width: 100%;
            outline: none;
            resize: none;
            border-radius: 5px;
            border: 1px solid #DDD;
            padding: 5px;
        }
        .tag {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a {
                cursor: pointer;
                min-width: 100px;
                height: 30px;
                line-height: 26px;
                border: 1px solid #DDD;
                border-radius: 5px;
                margin-right: 10px;
                text-align: center;
                margin-bottom: 10px;
                color: #000;
                font-size: 12px;
            }
            a.selected {
                color: #ff709e;
                border: 1px solid #ff709e;
            }
            a:hover {
                border: 1px solid #ff709e;
                color: #ff709e;
            }
        }
    }
    .resource {
        min-height: 150px;
        .resource-loader {
            height: 40px;
            .drive {
                width: 120px;
                outline: none;
                border: 1px solid #DDD;
                border-radius: 5px;
                padding: 5px;
            }
            input.path {
                width: 40%;
                outline: none;
                border: 1px solid #DDD;
                border-radius: 5px;
                padding: 5px;
            }
            button {
                margin-left: 10px;
                padding: 5px;
                border: 1px solid #DDD;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                background-color: #FFF;
            }
        }
        .resource-list {
            .resource-opt {
                display: flex;
                flex-direction: row;
                height: 30px;
                .rename {
                    flex: 1;
                    input {
                        width: 43%;
                        outline: none;
                        border: 1px solid #DDD;
                        border-radius: 5px;
                        padding: 5px;
                    }
                    button {
                        margin-left: 10px;
                        padding: 5px;
                        border: 1px solid #DDD;
                        border-radius: 5px;
                        outline: none;
                        cursor: pointer;
                        background-color: #FFF;
                    }
                }
                .order {
                    min-width: 100px;
                    text-align: right;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    a {
                        cursor: pointer;
                        text-align: center;
                        line-height: 30px;
                        height: 30px;
                        width: 30px;
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
            table {
                margin-top: 10px;
                width: 100%;
                tr {
                    th {
                        height: 30px;
                        border-top: 1px solid #DDD;
                    }
                    td {
                        height: 30px;
                        border-top: 1px solid #DDD;
                        a {
                            cursor: pointer;
                            i {
                                font-size: 14px;
                            }
                        }
                    }
                }
                tr:last-child {
                    border-bottom: 1px solid #DDD;
                }
            }
        }
    }
    .footer {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            min-width: 120px;
            height: 35px;
            font-weight: bold;
            font-size: 14px;
            background-color: #ff709e;
            border-radius: 5px;
            border: 1px solid #FFF;
            cursor: pointer;
            color: #FFF;
            outline: none;
        }
        button:hover {
            background-color: #ff97be;
        }
    }
    .highlight {
        background-color: #eceff1;
    }
}