<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-md-2">
                <select class="form-control" [(ngModel)]="selectBangumi" (ngModelChange)="getList()">
                  <option *ngFor="let bangumi of bangumis" [ngValue]="bangumi">{{bangumi.name}}</option>
                </select>
              </div>

              <div class="col-md10 tool-bar">
                <button type="button" class="btn btn-info btn-fill btn-sm pull-right" (click)="import()">
                  <i class="fa fa-upload"></i>
                  导入
                </button>
              </div>
            </div>
          </div>

          <div class="content table-responsive table-full-width">
            <div class="list-grid">
              <div class="box">
                <div class="box-item" *ngFor="let anime of animes" (click)="showDetail(anime)">
                  <div class="cover">
                    <img [src]="coverUrl + anime.cover" alt="">
                  </div>
                  <div class="subtitle">
                    {{anime.title}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>