<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="explorer">
            <div class="toolbar">
              <div class="operate">
                <button>
                  <i class="fa fa-upload"></i>上传</button>
                <button>
                  <i class="fa fa-upload"></i>下载</button>
                <button (click)="deleteItems()">
                  <i class="fa fa-trash-o"></i>删除</button>
                <button (click)="extractFiles()">
                  <i class="fa fa-file-archive-o"></i>解压</button>
                <button (click)="bindNetDisk()">
                  <i class="fa fa-paw"></i>绑定网盘</button>
                <button (click)="publish()">
                  <i class="fa fa-share"></i>发布资源</button>
              </div>
              <div class="nav">
                <a class="btn-item" (click)="goHome()">
                  <i class="fa fa-home"></i>
                </a>
                <a class="btn-item" (click)="back()">
                  <i class="fa fa-chevron-left"></i>
                </a>
                <a class="btn-item" (click)="forward()">
                  <i class="fa fa-chevron-right"></i>
                </a>
                <a class="btn-item">
                  <i class="fa fa-refresh" (click)="refresh()"></i>
                </a>
                <span class="split">
                </span>
                <select class="node" [(ngModel)]="selectedNode" (ngModelChange)="getList()">
                  <option *ngFor="let node of nodes" [ngValue]="node">{{node.name}}</option>
                </select>
                <a class="crumbs" *ngFor="let path of pathList" (click)="goto(path)">
                  {{path}}&nbsp;>&nbsp;
                </a>
              </div>
            </div>

            <div class="list">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th class="check">
                      <input type="checkbox" (change)="checkAll($event)">
                    </th>
                    <th>
                      文件名
                    </th>
                    <th>
                      修改时间
                    </th>
                    <th>
                      大小
                    </th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody [sortablejs]="dirFiles">
                  <tr *ngFor="let dirFile of dirFiles" (dblclick)="getSubDirFiles(dirFile)">
                    <td class="check">
                      <input type="checkbox" [checked]="dirFile.checked" (change)="checkItem($event, dirFile)">
                    </td>
                    <td>
                      <i class="fa fa-lg" [ngClass]="{'fa-folder-o': dirFile.type == 0, 'fa-file-o': dirFile.type == 1}"></i>
                      {{dirFile.name}}
                    </td>
                    <td>
                      {{dirFile.modifyTime | date:'yyyy-MM-dd HH:mm'}}
                    </td>
                    <td>
                      {{dirFile.type == 0 ? '-' : dirFile.size}}
                    </td>
                    <td>
                      <i class="fa fa-lg fa-cloud-download sync" *ngIf="dirFile.sync" (click)="sync(dirFile)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>