.explorer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .toolbar {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #d6d8dd;
        .operate {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #d6d8dd;
            button {
                padding: 5px 10px;
                margin: 5px;
                border: none;
                background-color: #FFF;
                font-size: 14px;
                outline: none; // border: 1px solid #e4e4e4;
                border-radius: 5px;
                i {
                    color: #9094a6;
                    margin-right: 5px;
                }
            }
            button:hover {
                border: 1px solid #cbd9e5;
                color: #3888ff;
                i {
                    color: #3888ff;
                }
            }
        }
        .nav {
            width: 100%;
            height: 35px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            .btn-item {
                margin-left: 10px;
                height: 30px;
                min-width: 20px;
                text-align: center;
                line-height: 30px;
                i {
                    font-size: 15px;
                    font-weight: normal;
                }
            }
            .split {
                height: 20px;
                width: 10px;
                border-right: 1px solid #d6d8dd;
            }
            select.node {
                margin-left: 10px;
                border: 1px solid #9094a6;
                outline: none;
            }
            .crumbs {
                margin-left: 5px;
                color: #9094a6;
            }
            a {
                cursor: pointer;
                i {
                    color: #9094a6;
                }
            }
            a:hover {
                color: #3888ff;
                i {
                    color: #3888ff;
                }
            }
        }
    }
    .list {
        flex: 1;
        overflow: auto;
        .sync {
            cursor: pointer;
        }
    }
}

.check {
    width: 40px;
}